.form-container {
    padding: 10px; /* Adjust padding as needed */
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    min-height: auto; /* Set a minimum height for better appearance */
    overflow: auto; /* Allow scrolling if content exceeds height */
    box-sizing: border-box;
    margin: 20px; /* Add margin to position it better */
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
    background-color: #f4f4f9;
}

.form-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    overflow: auto;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;

    &:hover {
        background-color: #0056b3;
    }
}

  
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }
  
  h3 {
    text-align: center;
  }

  button {
    background-color: #1D63ED;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
  
    &:enabled{
        &:hover {
      background-color: #0056b3;
        }
    }
  
    &:disabled {
      background-color: #ccc; /* Gray background for disabled state */
      color: #666; /* Dimmed text color */
      cursor: not-allowed; /* Cursor indicating the button is disabled */
      box-shadow: none; /* Remove shadow when disabled */
    }

    
  }
  
  